<!-- Optionally include any external libraries you might be using here -->
<!-- <script type="application/javascript" src="path/to/cdn"> -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<base target="_self" />
<title>Svelte app</title>
